<link rel="stylesheet" href="{{ (printf "%scss/skills.css?v=%d" (.Site.Params.staticPath | default "") now.Unix) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/project-detail.css?v=%d" (.Site.Params.staticPath | default "") now.Unix) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/projects-home.css?v=%d" (.Site.Params.staticPath | default "") now.Unix) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/site.css?v=%d" (.Site.Params.staticPath | default "") now.Unix) | relURL }}" media="all">
