<link rel="stylesheet" href="{{ (printf "%scss/skills.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/project-detail.css?v=2" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/projects-home.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
<link rel="stylesheet" href="{{ (printf "%scss/site.css" (.Site.Params.staticPath | default "")) | relURL }}" media="all">
