{{ if .Site.Params.projects.enable | default false }}
<section id="projects" class="py-5">
    <div class="container">
        <h3 class="text-center section-heading">{{ .Site.Params.projects.title | default (i18n "projects") }}</h3>
        <div class="row justify-content-center px-3 px-md-5">
            {{ range (where (where .Site.RegularPages "Type" "projects") "Params.thesis" "!=" true).ByWeight }}
            {{ if .Params.showInHome | default true }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card project-card h-100 position-relative" title="{{ .Title }}">
                    {{ if .Params.image }}
                    <div class="card-head">
                        <img class="card-img-top" src="{{ .Params.image | strings.TrimPrefix "/" | relURL }}" alt="{{ .Title }}">
                    </div>
                    {{ end }}
                    <div class="card-body bg-transparent p-3">
                        <div class="pb-2 bg-transparent">
                            {{ range .Params.badges }}
                            <span class="badge badge-secondary">{{ . }}</span>
                            {{ end }}
                        </div>
                        <h5 class="card-title bg-transparent">{{ .Title }}</h5>
                        <div class="card-text bg-transparent secondary-font">
                            {{ .Summary | truncate 150 }}
                        </div>
                    </div>
                    <div class="card-footer project-card-footer">
                        <a class="project-card-link" href="{{ .RelPermalink }}">Details</a>
                        {{ range .Params.links }}
                        <a class="project-card-link" href="{{ .url }}" target="_blank" rel="noopener">
                            {{ if .name }}{{ .name }} <span aria-hidden="true">&nearr;</span>{{ else }}<i class="{{ .icon }}"></i>{{ end }}
                        </a>
                        {{ end }}
                    </div>
                    <a class="stretched-link" href="{{ .RelPermalink }}" aria-label="{{ .Title }}"></a>
                </div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
